<div th:fragment="header">
    <div class="blog-header py-4 p-3 px-md-4 mb-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-3 text-center">
                <h5 class="blog-header-logo text-dark">GSU_Activity</h5>
            </div>
            <div class="col-2 text-center">
                <a class="btn btn-outline-success" href="#">Даник</a>
                <a class="btn btn-outline-dark" href="#">Влад</a>
                <a class="btn btn-outline-primary" href="#">Ваня</a>
            </div>
            <div class="col-3 d-flex justify-content-end align-items-center">
                <a class="btn btn-secondary btn-lg" href="#">Sign up</a>
            </div>
        </div>
    </div>
</div>